<dom-module id="<%= component_base_name %>">
  <link rel="stylesheet" href="<%= component_base_name %>.css" />
  <template>

    <h2><%= file_name.capitalize.gsub('_', ' ') %></h2>
  </template>

  <script src="<%= component_base_name %>.js"></script>
</dom-module>
