<polymer-element name="<%= component_name %>">
  <template>
    <link rel="stylesheet" href="<%= component_name %>.css" />

    <h2><%= file_name.capitalize.gsub('_', ' ') %></h2>
  </template>

  <script src="<%= component_name %>.js"></script>
</polymer-element>
