*.gem
*.rbc
.bundle
.config
.yardoc
Gemfile.lock
InstalledFiles
_yardoc
coverage
doc/
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp
bower_components
.ruby-version
app/assets/javascripts/polymer/*.json
app/assets/javascripts/polymer/*.log
app/assets/javascripts/polymer/*.txt
app/assets/javascripts/webcomponentsjs/*.json
app/assets/javascripts/webcomponentsjs/*.log
app/assets/javascripts/webcomponentsjs/*.md
app/assets/javascripts/webcomponentsjs/*.js
!app/assets/javascripts/webcomponentsjs/webcomponents.js
!app/assets/javascripts/webcomponentsjs/webcomponents-lite.js
